<h1>Shelters:</h1>

<header><a href='/'>Home</a></header>

<ul>
  <% @shelters.each do |shelter| %>
    <li><a href="/shelters/<%= shelter[:id] %>"><%= shelter[:name].capitalize %></a></li>
  <% end %>
</ul>

<br>
<button><a href="/shelters/new">New Shelter</a></button>
