<h2>Shelters</h2>
<%= link_to "Home", '/' %>

<ul>
  <% @shelters.each do |shelter| %>
    <li> <%= link_to shelter[:name], "/shelters/#{shelter.id}" %></li>
  <% end %>
</ul><br>

<%= link_to "New Shelter", '/shelters/new' %>
